body {
    background: linear-gradient(45deg, #f53cff, #FA8BFF, #2BD2FF, #2BFF88, #ee7752, #23d5ab);
    animation: gradient 15s ease infinite;
    height: 100vh;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.navbar {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
 
}

#Name {
  font-weight: bold;
}

.title {
    display: flex;
  justify-content: center;
    position: absolute;
  color: black;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: larger;
}
.share {
  position: absolute;
  margin-left: -275%;
  margin-top: 35%;
  font-family: papyrus;
  font-weight: bold;
}

.Takiwatanga {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 55%;
    margin-right: 310%;
    font-family: papyrus;

}

#logo {

min-width: 100vw;
display: flex;
  justify-content: center;
  position: relative;
  background-color: white;

}

#logo img {
    width: 100%;
    height: 50vh;
    

}

.about {
    padding-bottom: 10%;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    padding: 35px;
    font-family: serif;
}

#footer {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    color: black;
    min-width: 100vw;
}
.terms {
  text-align: center;
      padding: 100px;
}
.term-title {
  text-decoration: underline;
  margin-bottom: 30px;
}
.rules {
  font-style: italic;
}

#start-button {
  display: flex;
  align-items: center;
  padding-left: 43%;
  margin-top: 40px;
  margin-bottom: 47px;
}