.background1 {
    background: linear-gradient(45deg, #f53cff, #FA8BFF, #2BD2FF, #2BFF88, #ee7752, #23d5ab);
    animation: gradient 15s ease infinite;
    height: 100vh;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 70vw;
  }

  .row1 {
    margin: 5px;
    padding: 5px;
  }